{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load comment_tags %}
{% load i18n %}
{% load jalali_tags %}
{% load convert_number %}
{% load humanize %}

{% block page_tilte %}
    {% translate "order detail" %}
{% endblock %}

{% block content %}
    <!-- Main Wrapper Start -->
    <div class="container-fluid bg-light">
        {% translate 'order detail' as page_name %}
        {% include 'page_title.html' with page_name=page_name %}
        <div class="row">
            <div class="container-fluid bg-white py-5">
                <div class="row mt-5">
                    <div class="col-sm-12">
                        <div class="container">
                            <div class="row">
                                <!-- Checkout Area Start -->
                                <div class="col-sm-12 col-md-7">
                                    <div class="checkout-title mt-3">
                                        <h2>جزئیات سفارش</h2>
                                    </div>
                                    <div class="checkout-form">
                                        <form action="#" method="post" class="form form-checkout">
                                            {% csrf_token %}
                                            <div class="form-row mb-3">
                                                <div class="form-group col-md-6 mb-sm--30">
                                                    <label for="billing_fname" class="form-label form-label-2">{% translate "First name" %} <span class="required">*</span></label>
                                                    <input type="text" name="first_name" id="billing_fname"
                                                           class="form-input form-input-2">
                                                    {% if order_form.errors.first_name %}
                                                        <p class="error-form">{{ order_form.errors.first_name }}</p>
                                                    {% endif %}
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="billing_lname" class="form-label form-label-2">{% translate "Last name" %} <span class="required">*</span></label>
                                                    <input type="text" name="last_name" id="billing_lname"
                                                           class="form-input form-input-2">
                                                    {% if order_form.errors.last_name %}
                                                        <div class="error-form"> {{ order_form.errors.last_name }} </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-12">
                                                    <label for="billing_company"
                                                           class="form-label form-label-2">{% translate "Address" %} <span class="required">*</span></label>
                                                    <input type="text" name="address" id="billing_company"
                                                           class="form-input form-input-2">
                                                    {% if order_form.errors.address %}
                                                        <p class="error-form">{{ order_form.errors.address }}</p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-12">
                                                    <label for="billing_phone" class="form-label form-label-2">{% translate "Phone number" %} <span class="required">*</span></label>
                                                    <input type="text" name="phone_number" id="billing_phone"
                                                           class="form-input form-input-2">
                                                    {% if order_form.errors.phone_number %}
                                                        <p class="error-form">{{ order_form.errors.phone_number }}</p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-12">
                                                    <label for="orderNotes" class="form-label form-label-2">{% translate "Note" %}</label>
                                                    <textarea class="form-input form-input-2 form-input-textarea"
                                                              id="orderNotes" name="orderNotes"
                                                              placeholder="اگر یادداشتی دارید در اینجا وارد کنید. در غیر این صورت این مکان را خالی بگذارید"></textarea>
                                                    {% if order_form.errors.order_note %}
                                                        <p class="error-form">{{ order_form.errors.order_note }}</p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <button class="btn btn-success form-control text-black-50" type="submit"
                                                        value="">{% translate "Submit" %}</button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-5">
                                    <div class="order-details">
                                        <div class="checkout-title mt-3">
                                            <h2>سفارش شما</h2>
                                        </div>
                                        <div class="table-content table-responsive mb-5">
                                            <table class="table order-table order-table-2">
                                                <thead>
                                                <tr>
                                                    <th>محصول</th>
                                                    <th class="text-left">قیمت نهایی</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for item in cart %}
                                                    <tr>
                                                        <th><a class="text-dark text-decoration-none"
                                                               href="{% url 'product_detail' item.product_obj.id %}">{{ item.product_obj.title }}</a>
                                                            <strong><span>&#10005;</span> {{ item.quantity|english_to_persian }}
                                                            </strong>
                                                        </th>
                                                        <td class="text-left">{{ item.total_price|intcomma:False|english_to_persian }} {% translate '$' %}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                <tr class="cart-subtotal">
                                                    <th>{% trans 'total' %}</th>
                                                    <td class="text-left">{{ cart.get_total_price|intcomma:False|english_to_persian }} {% translate '$' %}</td>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                        <div class="checkout-payment checkout-title">
                                            <h2 class="py-5">روش پرداخت</h2>
                                            <form action="#" class="payment-form">
                                                <div class="payment-group mb--10">
                                                    <div class="payment-radio">
                                                        <input type="radio" value="bank" name="payment-method" id="bank"
                                                               checked>
                                                        <label class="payment-label" for="cheque">درگاه آنلاین زرین
                                                            پال</label>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- Checkout Area End -->
                            </div>
                        </div>
                    </div>
                    <!-- Main Content Wrapper Start -->

                </div>
            </div>
        </div>
        {% include 'end_container.html' %}
    </div>
    <!-- Main Wrapper End -->
{% endblock %}