{% extends '_base.html' %}

{% block page_tilte %} فهرست محصولات {% endblock %}

{% block content %}
    <!-- Main Content Wrapper Start -->
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="d-flex justify-content-center">
                            <p class="product-pages">نمایش ۱-۲۰ از ۴۹</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row d-flex justify-content-around align-items-center">
                    {% for product in products %}
                        <div class="col-xl-3 col-md-4 col-sm-6 c-col-sm-6 mb-3">
                            <div class="card custom-card">
                                <div class="card-banner">
                                    <a href="{{ product.get_absolute_url }}">
                                        <img src="https://dkstatics-public.digikala.com/digikala-products/15d774761e234a15c1c559ac540963baad9e229f_1631704695.jpg?x-oss-process=image/resize,m_lfit,h_800,w_800/quality,q_90"
                                             alt="Products" class="w-100">
                                    </a>
                                    <span class="position-absolute bg-danger product-offer">
                                    تخفیف ویژه
                                </span>
                                </div>
                                <div class="card-body d-flex justify-content-center align-items-center flex-column custom-card-body">
                                    <a href="{{ product.get_absolute_url }}" class="text-dark text-decoration-none">
                                        <h5 class="card-title mt-2">{{ product.title }}</h5>
                                    </a>
                                    <p class="card-text price mt-2">
                                        <span class="p-s-first"><s>{{ product.price }}</s></span> <span class="p-s-second">-</span>
                                        <span class="p-s-third">190000</span>

                                    </p>
                                    <a href="#" class="btn btn-success w-100 mt-2">افزودن به سبد خرید</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- start pagination -->
                <div class="row">
                    <nav class="pagination-wrap mt--35 mt-md--25 pb-5">
                        <ul class="pagination">
                            <li><a href="#" class="next page-number"><i class="fa fa-angle-double-right"></i></a>
                            </li>
                            <li><span class="current page-number">1</span></li>
                            <li><a href="#" class="page-number">2</a></li>
                            <li><a href="#" class="page-number">3</a></li>
                            <li><a href="#" class="prev page-number"><i class="fa fa-angle-double-left"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- end pagination -->
            </div>
        </div>
    </div>
    <!-- Main Content Wrapper Start -->
{% endblock %}